.ftax{
    border:1px solid black;
    border-bottom: 0;
}
.ftaxtext {
    font-size: medium;
    margin: 0;
    padding:0;
}
.fcompanydetails{
    border: 1px solid black;
}
.fcompanydetails > p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: small;
}
.fspe{
    font-weight: 400;
}

.faddress{
    display: flex;
    flex-direction: row;
}
.faddress{
    border: 1px solid black;
    border-top: 0;
}
.faddress table tr td{
    font-size: small;
    margin: 0;
    padding: 3px;
}
.fbilling{
    border-right: 1px solid black;
}
.fshipping{
    border-right: 1px solid black;
}

.fproduct{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.famountword{
    border: 1px solid black;
}

.famountword > p{
    padding: 5px;
}

.fsign{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-top: 0;
}
.fcompanydoc{
    flex:0.7;
    border-right: 1px solid black;
}
.fcompanydoc > p{
    padding-left: 5px;
    margin: 0;
}
.sign{
    flex:0.3;
}
.sign > p{
    text-align: center;
    margin: 0;
}